<div id="wrapper-conteudo" class='container-fluid'>
  <div class='page-header'>
    <h1>Exercícios</h1>
    <h2><i class='icon-pencil'></i> Novo</h2>
  </div>

  <div id="form-div">
    <%= render 'form' %>
  </div>
</div>
