<div class="nested-fields row-fluid">
  <div class='span11'>
    <%= f.autocomplete_field(:exercise, autocomplete_exercise_name_exercises_path, :id_element => '.js-exercicio_id', :id => 'js-cliente_nome', :class => 'input-block-level js-seletor_atual', :placeholder => 'Exercício') %>
    <%= f.input :exercise_id, :as => :hidden, :input_html => {:class => 'js-exercicio_id'} %>
  </div>

  <div class='span1'>
    <%= link_to_remove_association '-', f, :class => 'btn btn-danger btn-remove btn-block red sem-margem-top' %>
  </div>
</div>