<div class="nested-fields">
	<div class="row-fluid">
		<%= f.input :ramal, :wrapper_html => { :class => 'span2' } %>
		<%= f.input :numero, :wrapper_html => { :class => 'span8' } %>

    <div class='span2'>
      <%= link_to_remove_association "Excluir", f, :class => 'btn btn-danger btn-remove btn-block red' %>
    </div>
	</div>
</div>