<div class="nested-fields">
	<div class="row-fluid">
		  <%= f.input :resposta_1_01, :label => @avaliacao_fisica.anamnese.pergunta_1_01, :wrapper_html => { :class => 'span4' } %>
    </div>
</div>