<div id="wrapper-conteudo">
  <div class='page-header'>
    <h1><%= resource_class.model_name.human %></h1>
    <h2><i class='icon-pencil'></i> Novo</h2>
  </div>

  <div id="form-div">
    <%= render 'form' %>
  </div>
</div>
