<div class="input-append" style='margin: 0 14px 8px 14px'>
<%= f.text_field :nome, :placeholder => "Tag", :class => 'span2' %>
<%= link_to_remove_association "Excluir", f, :class => 'btn' %>
</div>