development:
  adapter: postgresql
  encoding: utf-8
  database: gym-manager_development
  pool: 5
  username: postgres
  password:
  host: localhost

test:
  adapter: postgresql
  encoding: utf-8
  database: gym-manager_test
  pool: 5
  username: postgres
  password:
  host: localhost

production:
  adapter: postgresql
  encoding: utf-8
  database: gym-manager_production
  pool: 5
  username: postgres
  password:
  host: localhost