<div id="wrapper-conteudo" class='container-fluid'>
  <div class='page-header'>
    <h1>Grupo Muscular</h1>
    <h2><i class='icon-pencil'></i> Editar</h2>
  </div>

  <div id="form-div">
    <%= render 'form' %>
  </div>
</div>