<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel"><%= @grupo_muscular.nome %></h3>
</div>
<div class="modal-body">
  <div class='row-fluid'>
    <div class='span3' style='margin-top: 40px;'>
      <ul class="nav nav-pills nav-stacked" id="tabs">
        <li class="active"><a href="#tab-grupo_muscular" data-toggle="tab">Grupo Muscular</a></li>
      </ul>
    </div>

    <div class='span9 tab-content'>
      <div class="tab-pane active" id="tab-grupo_muscular" style='margin-top: 40px;'>
        <fieldset>
        <legend>Dados Básicos</legend>
        <div class='row-fluid'>
          <div class='span4 show-head'><p><b>Nome</b></p></div>
          <div class='span8'><p><%= @grupo_muscular.nome %></p></div>
        </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <%= link_to 'Editar', edit_grupo_muscular_path(@grupo_muscular), :class => 'btn btn-primary' %>
</div>