<div id="wrapper-conteudo" class='container-fluid'>
  <div class='page-header'>
    <h1>Avaliações Físicas: <span class='muted'><%= @client.nome %> </span></h1>

    <h2><i class='icon-pencil'></i> Edição</h2>
  </div>

  <div id="form-div">
    <%= render 'form' %>
  </div>
</div>
