/*
 *= require bibliotecas/reset

 *= require bibliotecas/jquery-ui-1.10.3.custom
 *= require bibliotecas/bootstrap
 *= require bibliotecas/bootstrap-fileupload
 *= require postagems
 *= require_self
*/

@media (min-width: 768px)

body {
	font-family: 'Open Sans', arial, sans-serif;
}

/*---------------------------------------------------------
--------------------------HEADER---------------------------
---------------------------------------------------------*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: #f0f0f0;
	border-bottom: 1px solid #e8e8e8;
	height: 54px;
}

header div#wrapper-menu {
  width: 940px;
  margin: 0 auto;
}

header div#wrapper-menu ul#wrapper-menu-direita {
  float: right;
  line-height: 54px;
  text-transform: uppercase;
}

header div#wrapper-menu ul#wrapper-menu-direita li.wrapper-link {
	display: inline-block;
}

header div#wrapper-menu ul#wrapper-menu-direita a.dropdown-link {
	font-size: 12px;
	color: #717171;
	padding: 0 6px 6px 6px;
	margin: 0 12px 0 12px;
	font-weight: bold;
	text-align: center;
	font-family: 'Open Sans', arial, sans-serif;
}

header div#wrapper-menu ul#wrapper-menu-direita a.dropdown-link .current {
	border-bottom: 2px solid #39c;
}

header div#wrapper-menu ul#wrapper-menu-direita .dropdown-menu a {
	font-size: 10px;
	/*color: #717171;*/
	font-weight: bold;
	font-family: 'Open Sans', arial, sans-serif;
}

header .menu-avatar {
	float: right;
}

#wrapper {
	width: 940px;
  margin: 54px auto;
}

/*---------------------------------------------------------
--------------------------CONTEUDO-------------------------
---------------------------------------------------------*/

#wrapper #wrapper-conteudo {
	width: 940px;
	padding: 42px 0 42px 0;
}

#wrapper #wrapper-conteudo h1 {
	margin-bottom: 32px;
}

#wrapper #wrapper-conteudo table.lista-conteudo {
	margin-top: 32px;
	width: 100%;
}

#wrapper #wrapper-conteudo table.lista-conteudo thead {
	border-bottom: 1px solid #e8e8e8;
	line-height: 30px;
}

#wrapper #wrapper-conteudo table.lista-conteudo thead th {
	text-align: left;
	text-transform: uppercase;
	color: #212121;
}

#wrapper #wrapper-conteudo table.lista-conteudo tr {
	line-height: 30px;
}

#wrapper #wrapper-conteudo table.lista-conteudo td {
	font-size: 12px;
	text-transform: uppercase;
	color: #212121;
}

#wrapper #wrapper-conteudo #conteudo-rodape .pagination {
	float: right;
	margin: 0;
}

#wrapper #wrapper-conteudo table.lista-conteudo tr:nth-child(2n) {
	background-color: #f6f6f6;
}

#wrapper #wrapper-conteudo table.lista-conteudo td.comando {
	text-align: right;
}

/*---------------------------------------------------------
--------------------------FOOTER---------------------------
---------------------------------------------------------*/

footer {
	background-color: #f3f3f3;
}

/*---------------------------------------------------------
--------------------------MODAL----------------------------
---------------------------------------------------------*/

#modal p b {
	font-weight: bold;
}

#modal p {
	font-size: 14px;
	line-height: 18px;
}

/*---------------------------------------------------------
--------------------------FORM-----------------------------
---------------------------------------------------------*/

#wrapper #wrapper-conteudo #form-div .form-confirm {
	float: right;
}

#wrapper #wrapper-conteudo #form-div:after {
	content: "";
	display: table;
	clear: both;
}

[class^="icon-"], [class*=" icon-"] {
	background-image: url('/assets/glyphicons-halflings.png');
}

.tab-pane .nested-fields {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #eeeeee;
}

.tab-pane .nested-fields:nth-last-of-type(2) {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}

.tab-nested {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eeeeee;
}

.dropdown-menu {
	left: auto;
}

#modal{
   width:940px;
   margin-left:-470px;
}

.btn-remove {
	margin-top: 25px;
}

label.checkbox input {
  margin-top: -5px;
}

a .icon-plus {
  margin-top: 5px;
}