<div class="nested-fields">
  <div class="row-fluid">
    <%= f.input :email, :wrapper_html => { :class => 'span10' } %>
    <div class='span2'>
        <%= link_to_remove_association "Excluir", f, :class => 'btn btn-danger btn-remove btn-block red' %>
    </div>
  </div>
</div>