<div id="wrapper-conteudo" class='container-fluid'>
  <div class='page-header'>
    <h1><%= resource_class.model_name.human %></h1>

    <h2><i class='icon-pencil'></i> Editar</h2>
  </div>

  <div id="form-div">
    <%= render 'form' %>
  </div>
</div>